<div class="innerdash pagetitle">
      <div class="row">
        <div class="col-md-4 nopad d-flex align-items-center">
        <h1>Invoice Detail</h1>
    </div>
<div class="col-md-3">
                
          </div>
          <div class="col-md-2"></div>
    <div class="col-md-3 d-flex">
        <a class="btn btn-primary mr-1" (click)="editInvoice()">Edit Invoice</a>
    </div>
    </div>
</div><!-- End Page Title -->
<section class="section dashboard">
    <div class="row">
        <div class="innerform">
            <div class="col-md-9">
             <form id="formCreatecompany" class="mb-3 mt-4 commform" >

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Invoice Number: {{invoiceNumber}}</label>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Invoice Date: {{(invoiceDate) | date: 'dd/MM/yyyy' }} </label>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Due Date: {{dueDate | date: 'dd/MM/yyyy' }}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Company Name: {{companyName | titlecase}}</label>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Vendor Name: {{vendorName | titlecase}}</label>
                        </div>
                        
                            
                            <div class="col-md-4 mb-3">
                                <label for="name" class="form-label">Store: {{store | titlecase}} </label>
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Amount:  {{amount}}</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">GST Price: {{GSTPrice}}</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Additional Charges: {{additionalCharges}} </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Payment Term:    {{paymentTerm | titlecase}}</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Total Amount:    {{totalAmount}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Payment Method:    {{paymentMethod | titlecase}}</label>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Upload Invoice: </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <label for="name" class="form-label">Goods Description:    {{goodsDescription | titlecase}}</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
