<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&display=swap" rel="stylesheet">
<div class="innerdash pagetitle">
    <div class="row">
        <h1>Support</h1>
    </div>
</div><!-- End Page Title -->
<section class="section dashboard">
    <div class="row">
        <div class="innerform">
            <div class="innerfheader">
                <h4>Complaint / Suggestion</h4>
            </div>
            <div class="col-md-9">
                <form id="formCreatecompany" class="mb-3 mt-4 commform row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" name="" placeholder="i will">
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Complaint Type</label>
                            <select class="form-control">

                                <option value="">Select</option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                    
                        <div class="mb-3">
                            <label for="name" class="form-label">Ref Number</label>
                            <input type="text" class="form-control" name="" placeholder="$10">
                        </div>
                    </div>
                    <div class="col-md-12">              
                            <label for="name" class="form-label">Write in Detail</label>            
                            <textarea class="form-control" rows="5">Description</textarea>
                    </div>
                                        <div class="mt-3 mb-3">
                        <button type="submit" class="btn btn-primary btnarraow">Submit<span class="barraow"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
