<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&display=swap" rel="stylesheet">

<style>.pagetitle select.form-control {
    height: 55px !important;
}</style>
<div class="innerdash pagetitle">

  <div class="row">
        <div class="col-md-4 nopad d-flex align-items-center">
        <h1>Store Listing</h1>
    </div>
<div class="col-md-3">
                <input class="form-control" placeholder="Enter Store Name">
          </div>
          <div class="col-md-2"><button type="submit" class="btn btn-primary">Search</button></div>
    <div class="col-md-3 d-flex">
        <a class="btn btn-primary mr-1" href="/add-store">Add Store</a>
    </div>
    </div>

</div><!-- End Page Title -->
<section class="section dashboard">
    <div class="row">
        <div class="innerform">
            <div class="col-md-12">

                <div class="tablemaindiv mat-elevation-z8">
                   <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
           class="mat-elevation-z8 maintable">

        <!-- Position Column -->
        <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
              Store Name
            </th>
            <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
        </ng-container>

        <ng-container matColumnDef="w1">
            <th mat-header-cell *matHeaderCellDef> GST Number  </th>
            <td mat-cell *matCellDef="let element"> {{element.w1}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="w2">
            <th mat-header-cell *matHeaderCellDef> Bank account number  </th>
            <td mat-cell *matCellDef="let element"> {{element.w2}} </td>
        </ng-container>
        <ng-container matColumnDef="w3">
            <th mat-header-cell *matHeaderCellDef> Routing number </th>
            <td mat-cell *matCellDef="let element"> {{element.w3}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="w4">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element" class="dflexdiv"> 
                 <button class="viewbtn">
                                   <a href="/store-detail"> <img src="assets/img/view.png"> View</a></button>
                               </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
    <!-- start test -->
</section>
