<!-- <footer id="footer" class="footer">
  <div class="container">
    <div class="d-flex justify-content-between">
    <div class="ftlink">
    &copy; application. 2023 company name. All rights reserved.
    </div>
    <div class="ftfollowus">
      <ul>
        <li style="margin-right:10px">Follow Us</li>
        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  </div>
</footer> -->