<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&display=swap" rel="stylesheet">
<div class="innerdash pagetitle">
      <div class="row">
        <div class="col-md-4 nopad d-flex align-items-center">
        <h1>Store Detail</h1>
    </div>
<div class="col-md-3">
                
          </div>
          <div class="col-md-2"></div>
    <div class="col-md-3 d-flex">
        <a class="btn btn-primary mr-1" href="/add-store">Edit Store</a>
    </div>
    </div>
</div><!-- End Page Title -->
<section class="section dashboard">
    <div class="row">
        <div class="innerform">
            <div class="col-md-9">
            <form id="formCreatecompany" class="mb-3 mt-4 commform row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="name" class="form-label">Store Name: </label>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Country: </label>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">City: </label>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Bank account number: </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="name" class="form-label">Select Vendor: </label>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Province: </label>
                        </div>
                        
                        <div class="mb-3">
                            <label for="name" class="form-label">GST Number: </label>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Routing number: </label>
                        </div>
                    </div>
          </form>
            </div>
        </div>
    </div>
</section>
