<div class="innerdash pagetitle">
    <div class="row">
        <h1>Invoice Management</h1>
    </div>
</div><!-- End Page Title -->
<section class="section dashboard">
    <div class="row">
        <div class="innerform">
            <div class="innerfheader">
                <h4>Invoice Details</h4>
            </div>
            <div class="col-md-12">
                <form id="formCreatecompany" class="mb-3 mt-4 commform" [formGroup]="invoiceForm">

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Invoice Number</label>
                            <input type="text" class="form-control" placeholder="909U89IOP00"
                                   formControlName="invoiceNumber"
                                   [ngClass]="{
                                   'is-invalid': submitted && f['invoiceNumber'].errors,
                                    'is-valid': submitted && !f['invoiceNumber'].errors}"/>

                            <span *ngIf="submitted && f['invoiceNumber'].errors" class="invalid-feedback">
                          <span *ngIf="f['invoiceNumber'].errors['required']"> Invoice Number  is required</span>
                          </span>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Invoice Date</label>
                            <input class="form-control" type="date" formControlName="invoiceDate" [ngClass]="{
                                   'is-invalid': submitted && f['invoiceDate'].errors,
                                    'is-valid': submitted && !f['invoiceDate'].errors}">

                            <span *ngIf="submitted && f['invoiceDate'].errors" class="invalid-feedback">
                          <span *ngIf="f['invoiceDate'].errors['required']"> Invoice Date  is required</span>
                          </span>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Due Date</label>
                            <input class="form-control" type="date"  formControlName="dueDate" [ngClass]="{
                                   'is-invalid': submitted && f['dueDate'].errors,
                                    'is-valid': submitted && !f['dueDate'].errors}">
                            <span *ngIf="submitted && f['dueDate'].errors" class="invalid-feedback">
                          <span *ngIf="f['dueDate'].errors['required']"> Due Date  is required</span>
                          </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Company Name</label>
                            <select class="form-control" formControlName="companyId" (change)="getStore($event.target)"
                                    [ngClass]="{
                                   'is-invalid': submitted && f['companyId'].errors,
                                    'is-valid': submitted && !f['companyId'].errors}">
                                <option value="">Select Company</option>
                                <option [value]="item.companyId"
                                        *ngFor="let item of companyList">{{item.name | titlecase}}</option>
                            </select>
                            <span *ngIf="submitted && f['companyId'].errors" class="invalid-feedback">
                          <span *ngIf="f['companyId'].errors['required']"> Company Name  is required</span>
                          </span>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Vendor Name</label>
                            <select class="form-control" formControlName="vendorId" [ngClass]="{
                                   'is-invalid': submitted && f['vendorId'].errors,
                                    'is-valid': submitted && !f['vendorId'].errors}">

                                <option value="">Select Company</option>
                                <option [value]="item.vendorId"
                                        *ngFor="let item of vendorList">{{item.name | titlecase}}</option>
                            </select>
                            <span *ngIf="submitted && f['vendorId'].errors" class="invalid-feedback">
                          <span *ngIf="f['vendorId'].errors['required']"> Vendor Name  is required</span>
                          </span>
                        </div>
                        
                            
                            <div class="col-md-4 mb-3">
                                <label for="name" class="form-label">Store</label>
                                <select class="form-control" formControlName="storeId" [ngClass]="{
                                   'is-invalid': submitted && f['storeId'].errors,
                                    'is-valid': submitted && !f['storeId'].errors}">

                                    <option value="">Select Store</option>
                                    <option [value]="item.companyId"
                                            *ngFor="let item of storeList">{{item.name | titlecase}}</option>
                                </select>
                                <span *ngIf="submitted && f['storeId'].errors" class="invalid-feedback">
                          <span *ngIf="f['storeId'].errors['required']"> Store name  is required</span>
                          </span>
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Amount</label>
                            <input type="text" class="form-control" placeholder="Amount" financeOnly maxlength="12"
                                   [(ngModel)]="amount_1"  formControlName="amount" [ngClass]="{
                                   'is-invalid': submitted && f['amount'].errors,
                                    'is-valid': submitted && !f['amount'].errors}"/>


                            <span *ngIf="submitted && f['amount'].errors" class="invalid-feedback">
                          <span *ngIf="f['amount'].errors['required']"> Amount  is required</span>
                          </span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">GST Price</label>
                            <input type="text" class="form-control" placeholder="Gst Amount" financeOnly
                                   formControlName="gstAmount"  maxlength="12" [(ngModel)]="gstAmount_1"
                                   [ngClass]="{
                                   'is-invalid': submitted && f['gstAmount'].errors,
                                    'is-valid': submitted && !f['gstAmount'].errors}"/>


                            <span *ngIf="submitted && f['gstAmount'].errors" class="invalid-feedback">
                          <span *ngIf="f['gstAmount'].errors['required']"> GST Amount  is required</span>
                          </span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Additional Charges</label>
                            <input type="text" class="form-control" placeholder="Rs. 5,000" financeOnly maxlength="12"
                                   [(ngModel)]="addlAmount_1" formControlName="addlAmount"
                                   [ngClass]="{
                                   'is-invalid': submitted && f['addlAmount'].errors,
                                    'is-valid': submitted && !f['addlAmount'].errors}"/>
                            <span *ngIf="submitted && f['addlAmount'].errors" class="invalid-feedback">
                          <span *ngIf="f['addlAmount'].errors['required']"> Additional Charges  is required</span>
                          </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Payment Term</label>
                            <input type="text" class="form-control" placeholder="Advance" OnlyCharacterWithSpace
                                   formControlName="paymentTerm" [ngClass]="{
                                   'is-invalid': submitted && f['paymentTerm'].errors,
                                    'is-valid': submitted && !f['paymentTerm'].errors}"/>


                            <span *ngIf="submitted && f['paymentTerm'].errors" class="invalid-feedback">
                          <span *ngIf="f['paymentTerm'].errors['required']"> Payment Term  is required</span>
                          </span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Total Amount</label>
                            <input type="text" class="form-control" placeholder="0" financeOnly maxlength="12"
                               readonly  [value]="amount_1 + gstAmount_1 + addlAmount_1"
                                   formControlName="totalAmount" [ngClass]="{
                                   'is-invalid': submitted && f['totalAmount'].errors,
                                    'is-valid': submitted && !f['totalAmount'].errors}"/>


                            <span *ngIf="submitted && f['totalAmount'].errors" class="invalid-feedback">
                          <span *ngIf="f['totalAmount'].errors['required']"> Total Amount  is required</span>
                          </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Payment Method</label>
                            <select class="form-control" formControlName="paymentMethod" [ngClass]="{
                                   'is-invalid': submitted && f['paymentMethod'].errors,
                                    'is-valid': submitted && !f['paymentMethod'].errors}">
                                 <option value="">Select Payment</option>
                                    <option value="Online">Online</option>
                                    <option value="EFT (Electronic Fund Transfer)">EFT (Electronic Fund Transfer)</option>
                                    <option value="Cheque">Cheque</option>
                            </select>

                            <span *ngIf="submitted && f['paymentMethod'].errors" class="invalid-feedback">
                          <span *ngIf="f['paymentMethod'].errors['required']"> Payment Method  is required</span>
                          </span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Upload Invoice</label>
                            <input type="file" class="form-control" placeholder="Browse to upload"
                                   formControlName="uploadInvoice" id="invoce" [ngClass]="{
                                   'is-invalid': submitted && f['uploadInvoice'].errors,
                                    'is-valid': submitted && !f['uploadInvoice'].errors}"
                                   (change)="onFileSelected($event)" multiple
                            />

                            <span *ngIf="submitted && f['uploadInvoice'].errors" class="invalid-feedback">
                          <span *ngIf="f['uploadInvoice'].errors['required']"> Invoice  is required</span>
                          </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <label for="name" class="form-label">Goods Description</label>
                            <textarea class="form-control" id="name" rows="7"
                                      formControlName="goodsDesc">Description</textarea>
                        </div>
                    </div>
                    <div class="mt-3 mb-3">
                        <button type="submit" class="btn btn-primary btnarraow" (click)="saveInvoice()">
                            SAVE
                            <span class="barraow"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
