<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&display=swap" rel="stylesheet">

<style>.pagetitle select.form-control {
    height: 55px !important;
}</style>
<div class="innerdash pagetitle">
    <div class="row" style="align-items: center;">
        <div class="col-md-6">
            <h1>Add Store</h1></div>
    </div>

</div><!-- End Page Title -->
<section class="section dashboard">
    <div class="row">
        <div class="innerform">
           <button class="btn btn-primary" (click)="goToBack()"><i class="fa-solid fa-arrow-left" ></i>    Go Back </button>
            <form id="formCreatecompany" class="mb-3 mt-4 commform row" [formGroup]="storeForm" >
                <div class="col-md-6">
                        <div class="mb-3">
                            <label for="name" class="form-label">Store Name</label>
                            <input type="text" class="form-control" placeholder="Store Name"
                            formControlName="name" [ngClass]="{
                                        'is-invalid': submitted && f['name'].errors,
                                         'is-valid': submitted && !f['name'].errors}"/>

                            <span *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                <span *ngIf="f['name'].errors['required']">Name is required</span>
                            </span>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Country</label>
                            <select class="form-control" formControlName="country"
                                    [ngClass]="{
                                   'is-invalid': submitted && f['country'].errors,
                                    'is-valid': submitted && !f['country'].errors}"
                                    (change)="selectCountry($event.target)">
                                <option value="">Select Country</option>
                                <option [value]="item.name" *ngFor="let item of this.countryList">{{item.name}}</option>
                            </select>

                            <div *ngIf="submitted && f['country'].errors" class="invalid-feedback">
                                <div *ngIf="f['country'].errors['required']">Country is required</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">City</label>
                            <select class="form-control" formControlName="city"
                                    [ngClass]="{
                                   'is-invalid': submitted && f['city'].errors,
                                    'is-valid': submitted && !f['city'].errors}">
                                <option value=""> Select City</option>
                                <option value="{{item}}" *ngFor="let item of cityList">{{item}}</option>
                            </select>
                            <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                                <div *ngIf="f['city'].errors['required']">City is required</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Bank account number</label>
                            <input type="text" class="form-control" placeholder="Bank account number"
                                   formControlName="accountingNumber"
                                   [ngClass]="{
                                   'is-invalid': submitted && f['accountingNumber'].errors,
                                    'is-valid': submitted && !f['accountingNumber'].errors}"/>

                            <span *ngIf="submitted && f['accountingNumber'].errors" class="invalid-feedback">
                                <span *ngIf="f['accountingNumber'].errors['required']">Accounting Number is required</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="mb-3">
                            <label for="name" class="form-label">Company Name</label>
                            <select class="form-control" formControlName="parentCompanyId" [ngClass]="{
                                   'is-invalid': submitted && f['parentCompanyId'].errors,
                                    'is-valid': submitted && !f['parentCompanyId'].errors}">

                                <option value="">Select Company</option>
                                <option [value]="item.companyId"
                                        *ngFor="let item of companyList">{{item.name | titlecase}}</option>
                            </select>


                            <span *ngIf="submitted && f['parentCompanyId'].errors" class="invalid-feedback">
                                    <span *ngIf="f['parentCompanyId'].errors['required']"> Company Name  is required</span>
                                </span>
                        </div>


                        <div class="mb-3">
                            <label for="name" class="form-label">Province</label>
                            <select class="form-control" formControlName="province" [ngClass]="{
                                   'is-invalid': submitted && f['province'].errors,
                                    'is-valid': submitted && !f['province'].errors}"
                                    (change)="selectState($event.target)">
                            <option value="">Select Province</option>
                            <option value="{{item.name}}" *ngFor="let item of stateList"> {{item.name}}</option>
                        </select>

                            <span *ngIf="submitted && f['province'].errors" class="invalid-feedback">
                       <span *ngIf="f['province'].errors['required']">Province is required</span></span>
                        </div>
                        
                        <div class="mb-3">
                            <label for="name" class="form-label">GST Number</label>
                            <input type="text" class="form-control" placeholder="GST Number" formControlName="gst"
                                   [ngClass]="{'is-invalid': submitted && f['gst'].errors}"/>

                            <span *ngIf="submitted && f['gst'].errors" class="invalid-feedback">
                                <span *ngIf="f['gst'].errors['required']">Gst is required</span>
                            </span>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Routing number</label>
                            <input type="text" class="form-control" placeholder="Routing number"
                                   formControlName="routingNumber"  [ngClass]="{'is-invalid': submitted && f['province'].errors}"/>
                            <span *ngIf="submitted && f['gst'].errors" class="invalid-feedback">
                                <span *ngIf="f['gst'].errors['required']">Gst is required</span>
                            </span>
                        </div>
                    </div>

                    <div class="mt-3 mb-3">
                        <button class="btn btn-primary btnarraow" (click)="saveStore()">SAVE
                            <span class="barraow"></span>
                        </button>
                    </div>
          </form>
        </div>
    </div>
</section>
