 <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&display=swap" rel="stylesheet">
 <div class="innerdash pagetitle">
  <div class="row">
    <h1>Create Finance</h1>
  </div>
  </div><!-- End Page Title -->
  <section class="section dashboard">
    <div class="row">
      <div class="innerform">
        <div class="innerfheader">
          <h4>Basic Information</h4>
        </div>
        <div class="col-md-9">
          <form id="formCreatecompany" class="mb-3 mt-4 commform row" [formGroup]="financeForm" (ngSubmit)="onSubmit()" >
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="name" class="form-label">Company Name</label>
                    <select class="form-control"  formControlName="cName" [ngClass]="{
                                   'is-invalid': submitted && f['cName'].errors,
                                    'is-valid': submitted && !f['cName'].errors}">

                        <option value="">Select Company</option>
                        <option [value]="item.companyId" *ngFor="let item of companyList">{{item.name | titlecase}}</option>
                    </select>


                    <span *ngIf="submitted && f['cName'].errors" class="invalid-feedback">
                          <span *ngIf="f['cName'].errors['required']"> Company Name  is required</span>
                          <span *ngIf="f['cName'].errors['pattern']"> Company name is only character</span>
                      </span>
                </div>
               <div class="mb-3">
                  <label for="name" class="form-label">Contact Number</label>
                  <input type="text" class="form-control" placeholder="Mobile Number"
                         formControlName="mobileNo" [ngClass]="{
                                   'is-invalid': submitted && f['mobileNo'].errors,
                                    'is-valid': submitted && !f['mobileNo'].errors}"/>


                   <span *ngIf="submitted && f['mobileNo'].errors" class="invalid-feedback">
                          <span *ngIf="f['mobileNo'].errors['required']"> Mobile Number  is required</span>
                        <span *ngIf="f['mobileNo'].errors['pattern']">Mobile Number is not number</span><br>
                        <span *ngIf="f['mobileNo'].errors['minlength']">Minimum 10 length </span>
                      </span>
              </div>
               <div class="mb-3">
                  <label for="name" class="form-label">User ID</label>
                  <input type="text" class="form-control" placeholder="User ID"
                         formControlName="userId" [ngClass]="{
                                   'is-invalid': submitted && f['userId'].errors,
                                    'is-valid': submitted && !f['userId'].errors}"/>


                   <span *ngIf="submitted && f['userId'].errors" class="invalid-feedback">
                          <span *ngIf="f['userId'].errors['required']"> User Id  is required</span>
                      </span>
              </div>
               <div class="mb-3">
                  <label for="name" class="form-label">Password</label>
                  <input type="password" class="form-control" placeholder="Enter Password"
                         formControlName="password" [ngClass]="{
                                   'is-invalid': submitted && f['password'].errors,
                                    'is-valid': submitted && !f['password'].errors}"/>


                   <span *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                          <span *ngIf="f['password'].errors['required']"> Password  is required</span>
                      </span>
              </div>
            </div>
            <div class="col-md-6">
                  <div class="mb-3">
                    <label for="name" class="form-label">Store Name</label>
                    <select class="form-control"  formControlName="">

                        <option value="">Select Store</option>
                        <option></option>
                    </select>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">User Full Name</label>
                  <input type="text" class="form-control" placeholder="Enter User Full Name"
                         formControlName="name" [ngClass]="{
                                   'is-invalid': submitted && f['name'].errors,
                                    'is-valid': submitted && !f['name'].errors}"/>


                    <span *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                          <span *ngIf="f['name'].errors['required']"> User name  is required</span>
                        <span *ngIf="f['name'].errors['pattern']">  Name is only character</span>

                      </span>
              </div>
               <div class="mb-3">
                  <label for="name" class="form-label">Email ID</label>
                  <input type="text" class="form-control" placeholder="Enter Email ID"
                         formControlName="email" [ngClass]="{
                                   'is-invalid': submitted && f['email'].errors,
                                    'is-valid': submitted && !f['email'].errors}"/>


                   <span *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                          <span *ngIf="f['email'].errors['required']"> Email  is required</span>
                        <span *ngIf="f['email'].errors['email']">Email is invalid</span>
                      </span>
              </div>
            </div>
              <div class="mt-3 mb-3"><button type="submit" class="btn btn-primary btnarraow">Create User<span class="barraow"></span></button></div>
          </form>
        </div>
      </div>
    </div>
  </section>
