<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/Logo.png" alt="">
      </a>
      <div class="menubaricon">
        <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="15" height="2" fill="#140342"/>
        <rect y="8" width="20" height="2" fill="#140342"/>
        <rect y="16" width="15" height="2" fill="#140342"/>
        </svg>
      </div>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="What service are you looking for today?" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->



        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
<!--            <img src="assets/img/profile.png" alt="Profile" class="rounded-circle">-->
<!--            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">-->
<!--             <span alt="Profile" class="rounded-circle"-->
<!--                  style="text-transform: uppercase;background: #2dce89">-->
<!--              {{firstAndLastLetter}}-->
<!--            </span>-->
               <span class="d-none d-md-block dropdown-toggle ps-2" ><span class="rounded-circle"
                  style="text-transform: uppercase;background: #2dce89;padding: 6px 10px;
    color: white;">{{sortName}}</span></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6 style="text-transform: capitalize;">{{fullname}}</h6>
              <span style="text-transform: capitalize;">{{userType}}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" [routerLink]="['profile']">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" (click)="userLogout()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
